.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}

.listItem {
  padding: 10px;
  border: 1px solid gray;
  width: 200px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.detailInfo {
  min-width: 500px;
}
